$header-bg: #0072bc;
$btn-bg: #f26522;
$article-bg: #fff;
$article-text-color: #080808;
$article-item-text-color: #333333;
$btn-text-color: #fdfafa;
$header-text-color: #fff;
$brand-font: 1rem;
$btn-font: 1.125rem;
$font: 'PT Sans', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  width: 100%;
  background-color:  $header-bg;
  nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 1.5625rem 5%;
    .brand, .order {
      align-self: center;
    }
    .brand {
      color:  $header-text-color;
      font-size:  $brand-font;
      font-weight: bold;
      text-decoration: none;
      height: 100%;
      display: flex;
      flex-wrap: wrap;

      .brand_name {
        align-self: center;
        font-family:  $font;
        font-size: $btn-font;
        flex-basis: 100%;
      }
      picture{
        flex-basis: 30%;
      }
      img {
        width: 100%;
      }
    }
    .order {
      font-family: $font;
      font-size: $btn-font;
      color:  $btn-text-color;
      background-color: $btn-bg;
      padding: 0.8rem 1rem;
      border: none;
      outline: none;
      flex-basis: 10%;
      &:hover{
        cursor: pointer;
      }
    }
  }
}
article {
  width: 100%;
  padding: 1.5625rem 5%;
  font-family:  $font;
  background-color: $article-bg;
  h1 {
    font-size: 1.625rem;
    text-align: center;
    margin-bottom: 3.125rem;
    color: $article-text-color;
  }
  p{
    text-align: center;
    color:  $article-text-color;
    font-size: 1rem;
    line-height: 1.125rem;
  }
  .proposal {
    padding: 2.5rem 5%;
    .proposal_item {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 1rem;
      border: 2px solid #acacac;
      border-radius: 0.625rem;
      padding: 0.75rem;
      img {
        width: 100%;
      }
    }
  }
}

@media all and (min-width: 599px){
  header {
    nav {
      .brand {
        .brand_name {
          flex-basis: 50%;
          margin-left: 0.625rem;
        }
      }
    }
  }
}

@media all and (min-width: 1200px) {
  header {
    nav {
      padding: 1.5625rem 20%;
      .order {
        flex-basis: 20%;
      }
        img {
          width: 70%;
        }
    }
  }
}

@media all and (min-width: 1800px) {
  header {
    nav {
      padding: 1.5625rem 30%;
    }
  }
}